.done {
	text-decoration: line-through;
}

header {
	text-align: center;
	font-size: 4em;
	color:#DBE6FF;
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

#submitButton {
	color: blue;
	font-size:4em;

}

button {
	color: blue;
	padding-right: 30px;
	padding-left: 30px;
	margin-left: 30px;

}

#listOfItems {
	padding-left: 30px;
	
}



